* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  width: 360px;
  height: 450px;
  padding: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.screen {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  background-color: #858693;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 400px;
  width: 350px;
  gap: 0.6px;
}

.zero {
  grid-column: 1/3;
}

.btn-symbol {
  background-color: rgb(236, 141, 53);
}

#root {
  background-color: violet;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  padding: 15px;
  /* background-color: violet; */
  background-color: rgb(184, 143, 184);
}

.text {
  background-color: violet;
  font-size: 20px;
  line-height: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: bold;
  gap: 8px;
}

.nav-list a {
  text-decoration: none;
}

.nav-list li {
 border-right: 1px solid black;
 padding: 2px;
}

.nav-list li:nth-child(3) {
  border-right: none;
}

.title {
  margin: 20px;
  padding: 5px;
}

.p-one {
  margin: 20px;
}

.p-two {
  margin: 20px;
}

.quote {
  text-align: center;
  margin: 50px;
  font-size: 20px;
  background-color: violet;
}
